$editor-line-width: 20px;

@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

@mixin editor {
  margin: 0;
  border: none;
  font-size: 14px;
  font-family: 'Noto Sans JP', sans-serif;
  word-break: break-all;
  word-wrap: break-word;
  //box-sizing: border-box;
}
@keyframes blink {
  75% {
    opacity: 0;
  }
}

.koji-editor {
  position: absolute;
}

.koji-editor-textarea {
  @include editor();
  overflow-wrap: break-word;
  transform: rotate(90deg);
  transform-origin: left top;
  opacity: 0.2;
  position: absolute;
  z-index: 999999;
  line-height: $editor-line-width;
  overflow-y: scroll;
  box-sizing: border-box;
  resize: none;
}

.koji-editor-display {
  @include editor();
  box-sizing: border-box;
  border: 1px solid rgb(180, 180, 180);
  position: absolute;
  writing-mode: vertical-rl;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: pre;
  .koji-editor-white-space {
    color: #dcdcdc;
  }
  .koji-editor-lb::after {
    content: '\21B5';
    color: #a9d1ff;
    font-size: 12px;
    margin-top: 2px;
  }
  .koji-editor-overlay {
    box-sizing: border-box;
    left: 0.1px;
    height: 100%;
    border: none;
    min-width: 100%;
    writing-mode: vertical-rl;
    .koji-editor-caret {
      position: absolute;
      border-top: 1px solid black;
      width: 16px;
      height: 1px;
      animation: blink 1s step-end infinite;
    }
    .koji-editor-selection {
      position: absolute;
      background: #f00;
      opacity: 0.5;
      z-index: 100;
    }
    .koji-editor-composition-bar {
      position: absolute;
      border-left: 1px solid black;
      z-index: 101;
    }
  }
  .koji-editor-src-panel {
    min-width: 100%;
    position: absolute;
    height: 100%;
    writing-mode: vertical-rl;
    word-break: break-all;
    .koji-editor-line {
      min-width: $editor-line-width;
      line-height: $editor-line-width;
      height: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      white-space: normal;
    }
    .FURIGANA_START,
    .FURIGANA,
    .FURIGANA_END {
      color: blue;
    }
    .UNKNOWN {
      background-color: yellow;
    }
    .ANNO_START,
    .ANNO_END,
    .ANNOTATION {
      color: red;
    }
  }
}
